{# template base #}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/core.hub.css') }}">
    <title>{{ title }}</title>
</head>
<body>
    {% block content %}

    {% endblock %}
<script src="{{ url_for('static', filename='app/app.js') }}"></script>
</body>
</html>